@import '../../partials/typography';
@import '../../partials/variables';

/*------------------------------------*\
  #LOGO
\*------------------------------------*/

.logo {
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &__icon {
      fill: $color-brand-one;
      width: 100%;
      max-width: 5rem;
      height: 100%;
      max-height: 5rem;
      
      
      &--header {
        max-height: 3rem;
        max-width: 3rem;
      }
    }

    &--header {
      justify-content: flex-end;
    }

    
}