@import './typography';

// ===========================\\
//  #Color variables
//============================\\

$color-copy: #666666;
$color-brand-one: #009A82;
$color-white: #ffffff;

// ===========================\\
//  #Layout variables
//============================\\

$content-max-width: 31.25rem;